/* flex-flow: mobile devices for items to sit underneath one another*/

.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 100%;
}


/* desktop setting for items to sit next to one another*/

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}